In [ ]:
Using Sqlserver database Learn queries like Select, Insert, Update,Delete

In [ ]:
#Installation of package

In [15]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\lahar\appdata\local\programs\python\python312\lib\site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#Get data from DB and insert data into DB

In [16]:
import pyodbc

# Database connection
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=Lahari;DATABASE=SampleDB;Trusted_Connection=yes;')
cursor = conn.cursor()

# Select Data
cursor.execute("SELECT * FROM Employees")
for row in cursor.fetchall():
    print(row)

# Insert Data
cursor.execute("INSERT INTO Employees (Name, Age, Department) VALUES ('Rao', 60, 'Center Head')")
conn.commit()

# Close the connection
cursor.close()
conn.close()

(1023, 'Alice Johnson', 32, 'HR')
(1024, 'Bob Smith', 28, 'IT')
(1030, 'David Miller', 29, 'Marketing')
(1032, 'Elon', 22, 'Analyst')
(1034, 'Roja', 48, 'Admin')